<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Nico</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <style type="text/css">
      .bs-component + .bs-component {
        margin-top: 1rem;
      }
      @media (min-width: 768px) {
        .bs-docs-section {
          margin-top: 8em;
        }
        .bs-component {
          position: relative;
        }
        .bs-component .modal {
          position: relative;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;
          z-index: 1;
          display: block;
        }
        .bs-component .modal-dialog {
          width: 90%;
        }
        .bs-component .popover {
          position: relative;
          display: inline-block;
          width: 220px;
          margin: 20px;
        }
        .nav-tabs {
          margin-bottom: 15px;
        }
        .progress {
          margin-bottom: 10px;
        }
      }
    </style>
  </head>
  <body>

  <%= render "shared/header" %>
<%# <下記、見出しタイトル> %>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row my-4">
          <div class="col-12">
            <h1 class="display-3">オリジナルクイズ！！作れる☆</h1>

            <%= link_to new_quiz_path, method: :GET , class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>クイズ投稿</span>
<% end %>
            <p class="lead">右下のボタンからクイズを作ってみてね♪</p>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="navbars">クイズ一覧</h1>
            </div>
         </div>
    </div>
      <% @quizzes.reverse.each do |quiz| %>
        <%= link_to quiz_path(quiz.id) do %>
              <nav class="quiz_index">
          <h3 class='item-name'>
            <%= quiz.title %>
          </h3>
              </nav>
          <% end %>
     <% end %>





<%# 
            <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarColor01"
                  aria-controls="navbarColor01"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input
                      class="form-control mr-sm-2"
                      type="text"
                      placeholder="Search"
                    />
                    <button
                      class="btn btn-secondary my-2 my-sm-0"
                      type="submit"
                    >
                      Search
                    </button>
                  </form>
                </div>
              </nav>
            </div>

            <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarColor02"
                  aria-controls="navbarColor02"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input
                      class="form-control mr-sm-2"
                      type="text"
                      placeholder="Search"
                    />
                    <button
                      class="btn btn-secondary my-2 my-sm-0"
                      type="submit"
                    >
                      Search
                    </button>
                  </form>
                </div>
              </nav>
            </div>

            <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarColor03"
                  aria-controls="navbarColor03"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input
                      class="form-control mr-sm-2"
                      type="text"
                      placeholder="Search"
                    />
                    <button
                      class="btn btn-secondary my-2 my-sm-0"
                      type="submit"
                    >
                      Search
                    </button>
                  </form>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section>


      <section class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="indicators">Indicators</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h2>Alerts</h2>
            <div class="bs-component">
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">
                  Best check yo self, you're not looking too good. Nulla vitae
                  elit libero, a pharetra augue. Praesent commodo cursus magna,
                  <a href="#" class="alert-link"
                    >vel scelerisque nisl consectetur et</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-4">
            <div class="bs-component">
              <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong>Oh snap!</strong>
                <a href="#" class="alert-link">Change a few things up</a> and
                try submitting again.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="bs-component">
              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong>Well done!</strong> You successfully read
                <a href="#" class="alert-link">this important alert message</a>.
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="bs-component">
              <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong>Heads up!</strong> This
                <a href="#" class="alert-link">alert needs your attention</a>,
                but it's not super important.
              </div>
            </div>
          </div>
        </div>




      <section class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="containers">Containers</h1>
            </div>
            <div class="bs-component">
              <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">
                  This is a simple hero unit, a simple jumbotron-style component
                  for calling extra attention to featured content or
                  information.
                </p>
                <hr class="my-4" />
                <p>
                  It uses utility classes for typography and spacing to space
                  content out within the larger container.
                </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button"
                    >Learn more</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div> %>



    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="./js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $('.bs-component [data-toggle="popover"]').popover();
      $('.bs-component [data-toggle="tooltip"]').tooltip();
    </script>
  </body>
</html>
